

.order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid goldenrod;
    border-radius: 15px;
    margin: 20px 40px;
    padding: 10px;
    align-items: center;
    height: 150px;
}

.orderlist-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn-info {
    margin: 5px;
}