.orders {
    display: flex;
    flex-wrap: wrap;
}

.order {
    border: solid rgb(239, 179, 27);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 30%; /* Adjust as needed */
}

.order-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.order-details {
    margin-bottom: 5px;
}

.orderlist-btns {
    display: flex;
    justify-content: space-evenly;
}

.btn-info {
    margin: 5px;
}
